body {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #512DA8;
  display: inline-block;
  width: 100vw;
}

header h1 {
  color: white;
  float: left;
  letter-spacing: 1px;
  margin: 20px;
  font-size: 24px;
}

header .header-text2 {
  color: #009688;
}

header p {
  color: white;
  float: right;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 24px 20px;
}
