body {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #512DA8;
  display: inline-block;
  width: 100vw;
}

header h1 {
  color: white;
  float: left;
  letter-spacing: 1px;
  margin: 20px;
  font-size: 24px;
}

header .header-text2 {
  color: #009688;
}

header p {
  color: white;
  float: right;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 24px 20px;
}

.pattern-example {
  margin: 40px 20px;
}

.pattern-header h3,hr {
  color: #BDBDBD;
  display: inline-block;
}

.pattern-header hr {
  margin: 0 0 0 5%;
  width: 70%;
  vertical-align: middle;
  border-style: solid;
}

.pattern-container {
  margin: 40px;
  width: 85%;
}

/*TABS CSS*/

.l-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
}

.tab {
  background-color: #BDBDBD;
  color: #FFFFFF;
  flex-basis: 20%;
  flex-grow: 1;
  /*border: 1px solid #FFFFFF;*/
  border-right: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  /*border-top: 1px solid #FFFFFF;*/
  /*border-bottom: 1px outset #757575;*/
  box-shadow: 0 1px 0 #757575;
  padding: 10px;
  text-align: center;
}

.tab.is-selected {
  color: #BDBDBD;
  background-color: #FFFFFF;
  border-bottom: none;
  font-weight: bold;
  border: 1px solid #757575;
  border-bottom: none;
  box-shadow: none;
}

.l-display {
  border: 1px solid #757575;
  border-top: none;
}

.display {
  display: none;
  padding: 10px;
}

.display.is-selected {
  display: flex;
}

img {
  height: 100%;

}

.display-content {
  width: 60%;
  padding-left: 10px;
}
