#nav-container {
  align-items: center;
  background-color: #D1D2D3;
  border-radius: 2px;
  display: flex;
  height: 75px;
  justify-content: space-around;
  width: 100%;
  max-width: 1050px;
}

#nav-container h4 {
  font-size: 90%;
}

#nav-img {
  border-radius: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/bill_murray_flex.jpg');
  margin: 15px;
  height: 50px;
  width: 50px;
}

#menu-button {
  display: none;
}

#nav-link-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
  width: 90%;
}

.nav-link {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  height: 100%;
  max-width: 240px;
  word-wrap: normal;
}

.nav-link h4 {
  padding: 0 5px;
  text-align: center;
}

.nav-link:hover {
  background-color: #666666;
  color: white;
  font-weight: 400;
}

#nav-search {
  align-items: center;
  border-radius: 2px;
  flex-grow: 1;
  border: none;
  height: 30px;
  margin: 0 15px 0 -10px;
  width: 100%;
  padding-left: 34px;
  font-family: 'Raleway', sans-serif;
}

#search-wrapper {
  display: flex;
  vertical-align: middle;
  width: 100%;
  max-width: 240px;
}

#search-wrapper::before {
  content: url('../../assets/search-icon.png');
  z-index: 1;
  background-size: cover;
  position: relative;
  left: 22px;
  bottom: 1px;
}

@media screen and (max-width: 680px) {
  #nav-container {
    flex-direction: column;
    height: 100%;
    font-size: 120%;
  }

  #nav-controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  #menu-button {
    display: inline-block;
    margin: 0 25px;
  }

  #menu-button::before {
    content: url('../../assets/menu.png');
    position: relative;
    top: 3px;
    padding-right: 5px;

  }

  #nav-img {
    display: inline-block;
    margin-left: 20px;
  }

  #nav-link-container {
    background-color: #F2F2F2;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 5px;
    width: 100%;
  }

  #nav-container .hide {
    display: none;
  }

  .nav-link {
    border-radius: 2px;
    max-width: none;
    width: 100%;
    height: 40px;
    justify-content: flex-start;
  }

  .nav-link h4 {
    margin-left: 25px;
  }

  #nav-search {
    margin: 10px 15px 0 -15px;
    margin-bottom: 15px;
    width: 100%;
  }

  #search-wrapper {
    width: 100%;
    max-width: none;
  }

  #search-wrapper::before {
    content: url('../../assets/search-icon.png');
    z-index: 1;
    background-size: cover;
    position: relative;
    left: 16px;
    top: 10px;
    bottom: 0;
  }
}
